html, body {
	position: relative;
	height: 100vh; 
}

body{
	background-image:url('./img/nasa.jpg');
  background-size:cover;
}

.cel{
    width: 20px;
    height: 20px;
    border: none;
}

.floor{
  position:absolute; 
  width:100%;
  bottom:0px; 
  border-bottom:24px solid black; 
}

a:hover {
	text-decoration: underline;
}

/* #hero{
    overflow: hidden;
    animation: mooveHero 1s steps(4) infinite
} */

@keyframes mooveHero{
    from{
        transform: translate3d(0%, 0, 0)
    }
    to{
        transform: translate3d(-100%, 0, 0)
    }
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	/* border: 1px solid #ccc; */
	/* border-radius: 2px; */
}

/* input:disabled {
	color: #ccc;
} */

button:hover{
	background-color: rgb(41, 42, 43)
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

/* button:focus {
	border-color:transparent; 
} */




/* ACCUEIL - ANIM  */

@keyframes treeMove{
    30% {transform:skew(1deg)}
    60% {transform:skew(0deg)}
    90% {transform:skew(-1deg)}
  }
.deadtree{
    height:40%;
	width:auto; 
	position:absolute;
	bottom:0; 
    /* bottom:4.5%; 
    left:2%; */
    opacity:0.6; 
    animation:treeMove 2s linear infinite; 
  }

@keyframes soucoupeDiag{
  from {transform: translate(-40px,-400px)}
  to {transform: translate(751px,200px)}
}
.soucoupe{
  z-index:-10;
  width:15%;
  height:10%;
  animation-name:soucoupeDiag;
  animation-duration:15s;
  animation-delay:1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform:translate(-40px,-400px);
}

@keyframes ufoMove{
  20%{top:54%;left:45%;opacity:1}
  30% {top:57%;left:45%;}
  40%{top:54%;left:45%;transform:scale(1)}
  50% {top:57%;left:45%;transform:scale(1);opacity:1}
  60%{top:54%;left:45%;transform:scale(1)}
  70% {top:57%;left:45%;transform:scale(1);opacity:1}
  80%{top:54%;left:45%;transform:scale(1)}
  90% {top:57%;left:45%;transform:scale(1);opacity:1}
  100%{top:0%;left:90%; transform:scale(0)} 
}

.ufo{
  z-index:-10;
  position:absolute; 
  opacity:0;
  left:45%;
  top:85%;
  width:10%;
  animation:ufoMove 7s; 
  animation-delay:2s
}



@keyframes bulletRight{
  from {transform: translate(-40px,0)}
  to {transform: translate(1440px,0)}
}

.bullet1{
  width:4%;
  height:2%;
  position:absolute; 
  animation-name:bulletRight;
  animation-duration:4s;
  animation-delay:1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform:translate(-130px);
}

@keyframes bulletDiag{
  from{top:0; left:-5%; }
  to{top:100%; left :80%; }
}

.bullet2{
  z-index:-10; 
  width:4%;
  height:2%;
  position:absolute; 
  transform:rotate(35deg);
  left:-5%;
  top:0; 
  animation: bulletDiag 5s ease-in-out 4; 
}

.grass{
  position : absolute;
  bottom:-20px; 
}

/* ACCUEIL - DECOR  */


/* GAMEFIELD */
.gamefield{
  width:1000px;
  height:600px;
  margin:auto;
  background-color:rgb(20, 20, 20,0.95);
}


