.border{
    width: 100px;
    height: 50px;
    align-items: center;
}



.cel{
    border: solid 1px
}

.p{
    background: red;
}

.divTab{
    display: flex;
    justify-content: center;
    margin: 40px;
}

#hero{
    height: 10px;
    width: 10px;
    overflow: hidden;
}

h1{
    text-align: center
}

p{
    text-align: center
}

.cel{
width: 10px;
height: 10px;
position: relative;
}

/* .ligne{
    height: 30px
} */


:root{
    --pixel-size: 6
}

.pixelart{
    image-rendering: pixelated; 
}

body{
    background: green;
}

.personnage{
    display: flex;
    justify-content: center;
    align-items: center
}

.Characters{
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute; 
    z-index: 1
}

.down1{
    position: relative;
    top: 0px;
}

.down2{
    position: relative;
    top: 0px;
    left: -100px;
}

.down3{
    position: relative;
    top: 0px;
    left: -200px;
}

.down4{
    position: relative;
    top: 0px;
    left: -300px;
}

.up1{    
    position: relative;
    top: -100px;
}

.up2{    
    position: relative;
    top: -100px;
    left: -100px;
}

.up3{    
    position: relative;
    top: -100px;
    left: -200px;
}

.up4{    
    position: relative;
    top: -100px;
    left: -300px;
}

.left1{
    position: relative;
    top: calc(-100px * 2); 
    left: -100px;
}

.left2{
    position: relative;
    top: calc(-100px * 2); 
    left: -200px;
}  

.left3{
    position: relative;
    top: calc(-100px * 2); 
    left: -300px;
} 

.left4{
    position: relative;
    top: calc(-100px * 2); 
}  

.right1{
    position: relative;
    top: calc(-100px * 3);
    left: -100px;
}

.right2{
    position: relative;
    top: calc(-100px * 3);
    left: -200px;
}

.right3{
    position: relative;
    top: calc(-100px * 3);
    left: -300px;
}

.right4{
    position: relative;
    top: calc(-100px * 3);
}

.fire{
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;

}

@keyframes movefire{
    from{
        transform: translate3d(0%, 0, 0)
    }
    to{
        transform: translate3d(-100%, 0, 0)
    }
}
@keyframes movefire2{
    from{
        transform: translate3d(0%, 0, 0)
    }
    to{
        transform: translate3d(100%, 0, 0)
    }
}

#fire{
    animation: movefire 0.3s steps(5) infinite;
}

#fire2{
    position: relative;
    left: -100%;
    animation: movefire2 0.3s steps(5) infinite;
}