html, body {
	position: relative;
	height: 100vh; 
}

body{
  background-image:url('./img/sky3.jpg');
  background-size:60%;
  transition: all; 
  transition-duration:0.5s; 
  animation: bg-move 45s ease-in infinite; 
}
@keyframes bg-move {
  50%{background-size:45%;} 
  100%{background-size:60%}
}
.floor{
  position:absolute; 
  width:100%;
  bottom:0px; 
  border-bottom:24px solid black; 
  z-index:-1;
}
a:hover {
	text-decoration: underline;
}
@keyframes mooveHero{
    from{
        transform: translate3d(0%, 0, 0)
    }
    to{
        transform: translate3d(-100%, 0, 0)
    }
}
label {
	display: block;
}
input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
}
button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}
button:disabled {
	color: #999;
}
button:not(:disabled):active {
	background-color: #ddd;
}

@keyframes treeMove{
    30% {transform:skew(1deg)}
    60% {transform:skew(0deg)}
    90% {transform:skew(-1deg)}
  }
.deadtree{
  height:40%;
	width:auto; 
	position:absolute;
	bottom:0; 
  opacity:0.6; 
  animation:treeMove 2s linear infinite;
  filter: drop-shadow(16px 16px 20px red) invert(75%); 
}
@keyframes bulletRight{
  from {transform: translate(-40px,0)}
  to {transform: translate(1440px,0)}
}
.bullet1{
  width:4%;
  height:2%;
  position:absolute; 
  animation-name:bulletRight;
  animation-duration:4s;
  animation-delay:3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform:translate(-130px);
}
@keyframes bulletDiag{
  from{top:0; left:-5%; }
  to{top:100%; left :80%; }
}
.bullet2{
  z-index:-10; 
  width:4%;
  height:2%;
  position:absolute; 
  transform:rotate(35deg);
  left:-5%;
  top:0; 
  animation: bulletDiag 5s ease-in-out 4; 
}
.grass{
  position : absolute;
  bottom:-20px;
  filter: drop-shadow(16px 16px 20px red) invert(75%);
}
.tableau{
  height:auto; 
  display: flex;
  justify-content: center; 
}
/* 
@keyframes spaceShip{
  from {bottom : -30%}
  to {bottom : 6%}
} */
td{
  background-image: url('./resources/blood.png')
}
tt{
  background-color: transparent;
}
.fire{
  background: transparent;
}
.empty{
  background: transparent;
}